@import "tailwindcss";

@theme{
    --color-pink-sansfiltre: #FFEBFD;
    --color-green-sansfiltre: #054236;
    /* --color-brown-sansfiltre: (#FFEBFD); */
}

@font-face {
    font-family: 'Lazy Dog';
    src: url('/fonts/lazy_dog.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
    background-color: #FFEBFD;
}

body {
    /* font-family: 'Lazy Dog', sans-serif; */
    font-family: 'League Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lazy Dog', sans-serif;
}