@import 'tailwindcss';

@font-face {
	font-family: 'Lazy-Dog';
	src: url('/fonts/lazy_dog.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'League-Spartan';
	src: url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@theme {
	--color-pink-sansfiltre: #ffebfd;
	--color-green-sansfiltre: #054236;
	--color-brown-sansfiltre: (#7d5b2e);
  --font-league-spartan: 'League-Spartan', sans-serif;
  --font-lazy-dog: 'Lazy-Dog', sans-serif;
}

*:focus {
  outline: none;
  box-shadow: none;
}

html {
	scroll-behavior: smooth;
	background-color: #ffebfd;
}

body {
	font-family: 'League-Spartan', sans-serif;
}


/* hover underline and overline animation */
.hover-underline {
  background-image: linear-gradient(to right, #ffebfd, #ffebfd 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.hover-underline:before {
  content: '';
  background: #ffebfd;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.hover-underline:hover {
  background-position: 0;
}

.hover-underline:hover::before {
  width: 100%;
}

/* =========================
   GLOBAL SANSS FILTRE SCROLLBAR
   ========================= */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #054236 transparent;
}

/* Chromium / Edge / Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(5, 66, 54, 0.55);
  /* green-sansfiltre */
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(214, 0, 212, 0.55);
  /* pink-sansfiltre hover */
}